/* ::after */
html {
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100%; */
  width: 100%;
}
canvas {
  /* overflow: hidden; */
  /* offset: 0px; */
  /* background-position: center; */
  /* background-attachment: fixed; */
  /* display: block; */
  position: absolute;
  /* margin: 0px;
    padding: 0px; */
  /* height: 100%; */
  width: 100%;
}
body {
  display: block;
  position: absolute;
  z-index: 0;
  float: left;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
div {
  position: absolute;
  float: bottom;
}
