html {
background-image: url('../assets/background.jpg');
background-repeat: no-repeat;
background-size: cover;
height: 100%;

}
canvas {
    /* background-image: url('background.jpg');
    background-repeat: no-repeat;
    /* background-size: no-repeat;
    background-size: 100vw;
    background-position: center;
            background-attachment: fixed; */
    margin: 0;
    /* overflow: hidden; */
    padding: 0;
    /* offset: 0px; */
    /* display: block; */
    width: 100vw;

}
/* body {
  display: block;
  position: absolute;
  z-index: 0;
  margin: 0px;
  float: left;
} */
div {
    /* position: absolute; */
    position: float: bottom;
}
